# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
.env
.venv
env/
venv/
ENV/
Pipfile.lock

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Secrets
*.key
*.pem
.env*
